input[type=text]
{
    width: 300px;
    -webkit-transition: width 0.7s ease-in-out;
    transition: width 0.7s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus
{
    width: 90%;
}


#logo
{
    margin-top: 2rem;
}

#searchInput
{
    display: inline!important;
}

#buttonSubmit
{
    margin-bottom: 0.5%;
}

.container
{
    margin-top: 4rem;
}

.footer-copyright
{
    margin-top: 20rem;
}

.everyText
{
    cursor: pointer;
}

.cut-text
{
    max-height:10rem;
    overflow:hidden;
}

.motRechercheColor
{
    color:red;
    font-weight: bold;
}
